/* Custom CSS for Almundo Twilio Demo */
.almundo-background {
  background-image: url(/img/almundo-travellers-community.jpg);
  background-size: cover;
  background-position: 75% 25%;
}

.almundo-text {
  background-color:rgba(255,255,255,0.75);
}

@media (min-width: 768px) {
  .almundo-text {
    margin-right: 5%;
    width: 40%;
  }
}

.answer-button, .call-expert-button {
    width: 48%;
    float: left;
}

.hangup-button {
    width: 48%;
    float: right;
}

.btn-block, .call-expert-button, .call-customer-button {
    background-color: rgb(217, 107, 58);
    border-color: rgb(217, 107, 58);
}
