extends ../layout

block content
  // Main jumbotron
  .jumbotron.almundo-background
    .container.almundo-text
      h1.text-center
        strong Almundo.com
      p
        | Somos la primera comunidad de viajeros online.
        a(href="https://youtu.be/IAgVwxc1-T0", target="_blank") ¡Enterate más!
      h3
        strong ¿Tenés alguna consulta? ¿Querés armar un viaje espectacular?
      p
        | ¡Hablá con uno de nuestros expertos!
      p
        a.btn.btn-primary.btn-lg.btn-block(onclick="callExpert()") Hablar con un experto
        
  .container
    if(success.length > 0)
      .alert.alert-success !{success}
    if (errors.length > 0)
      .alert.alert-danger !{errors}
    h2#support Contactar soporte
    p.lead
      | Hablá con un operador ahora mismo clickeando el botón de la derecha "Llamar a soporte". Si no podés hablar ahora, cargá un ticket con tu número y un agente se contactará con vos a la brevedad.
    .row
      .col-md-6.col-md-push-6
        .panel.panel-info.client-controls
          .panel-heading
            h3.panel-title Hablar con soporte ahora
          .panel-body
            p
              strong Estado
            #call-status.well.well-sm
              | Conectándose con servidor...
            button.btn.btn-lg.btn-primary.call-button(onclick="callSupport()")
              span.glyphicon.glyphicon-earphone(aria-hidden="true")
              |  Llamar a soporte
            button.btn.btn-lg.btn-danger.hangup-button(disabled="", onclick="hangUp()") Colgar
      
      .col-md-6.col-md-pull-6
        form(class="new-ticket")
          .form-group
            label Nombre
            input.form-control(type='text', name="name", placeholder='Alfredo Mundo')
          .form-group
            label Número de teléfono:
            input.form-control(type='text', name="phone_number", placeholder='+151155554444')
          .form-group
            label Descripción:
            textarea(rows=3, name="description", placeholder='Agregar alguna descripción...').form-control
          button.btn.btn-primary.btn-lg.btn-block(type='button') Cargar ticket
